    <!-- PAGE CONTAINER -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div id="root" class="root mn--max hd--expanded">

        <!-- CONTENTS -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <section id="content" class="content">
            <div class="content__header content__boxed overlapping">
                <div class="content__wrap">
                    <!-- Page title and information -->
                    <h5 class="fontH">Bienvenido: Wilber Bautista Pizarro</h5>
                    <!-- END : Page title and information -->
                </div>
            </div>

            <div class="content__boxed">
                <div class="content__wrap">

                
                    <!-- Table with toolbar -->
                    <div class="card">
                        <div class="card-header">
                            <h5 class="fontH">Mi estado de cuenta</h5>
                    


<router-outlet></router-outlet>


                        </div>

                    
                    </div>
                    <!-- END : Table with toolbar -->

                </div>
            </div>
            <!-- FOOTER -->
            <footer class="content__boxed mt-auto">
                <div class="content__wrap py-3 py-md-1 d-flex flex-column flex-md-row align-items-md-center">
                    <div class="text-nowrap mb-4 mb-md-0">Copyright &copy; 2022 <a href="#" class="ms-1 btn-link fw-bold">Cap. Sistemas e Informática</a></div>
                </div>
            </footer>
            <!-- END - FOOTER -->

        </section>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- END - CONTENTS -->
        <!-- HEADER -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <header class="header">
            <div class="header__inner">

                <!-- Brand -->
                <div class="header__brand">
                    <div class="brand-wrap">

                        <!-- Brand logo -->
                        <a href="./index.html" class="brand-img stretched-link">
                            <img src="./assets/img/cip/cip_min.png" alt="CIP Logo" class="CIP logo" width="40" height="40">
                        </a>

                        <!-- Brand title -->
                        <div class="brand-title" style="font-size:12pt;">CIP CD. Ayacucho</div>

                        <!-- You can also use IMG or SVG instead of a text element. -->

                    </div>
                </div>
                <!-- End - Brand -->


                    <div class="header__content">

                        <!-- Content Header - Left Side: -->
                        <div class="header__content-start">

                            <!-- Navigation Toggler -->
                            <button type="button" class="nav-toggler header__btn btn btn-icon btn-sm" aria-label="Nav Toggler">
                                <i class="demo-psi-view-list"></i>
                            </button>

                            <!-- Searchbox -->
                            <div class="header-searchbox">

                                <!-- Searchbox toggler for small devices -->
                                <label for="header-search-input" class="header__btn d-md-none btn btn-icon rounded-pill shadow-none border-0 btn-sm" type="button">
                                    <i class="demo-psi-magnifi-glass"></i>
                                </label>

                            </div>
                        </div>
                        <!-- End - Content Header - Left Side -->
                        <!-- Content Header - Right Side: -->
                        <div class="header__content-end">
                            <!-- Usuario -->
                            <div class="dropdown">

                                <!-- Toggler -->
                                <button class="header__btn btn btn-icon btn-sm" type="button" data-bs-toggle="dropdown" aria-label="User dropdown" aria-expanded="false">
                                    <i class="demo-psi-male"></i>
                                </button>

                                <!-- User dropdown menu -->
                                <div class="dropdown-menu dropdown-menu-end w-md-450px">

                                    <!-- User dropdown header -->
                                    <div class="d-flex align-items-center border-bottom px-3 py-2">
                                        <div class="flex-shrink-0">
                                            <img class="img-sm rounded-circle" src="./assets/img/profile-photos/1.png" alt="Profile Picture" loading="lazy">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h5 class="mb-0">Aaron Chavez</h5>
                                            <span class="text-muted fst-italic">aaron_chavez@example.com</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-7">

                                            <!-- Simple widget and reports -->
                                            <div class="list-group list-group-borderless mb-3">
                                                <div class="list-group-item text-center border-bottom mb-3">
                                                    <p class="h1 display-1 text-green">17</p>
                                                    <p class="h6 mb-0"><i class="demo-pli-basket-coins fs-3 me-2"></i> New orders</p>
                                                    <small class="text-muted">You have new orders</small>
                                                </div>
                                                <div class="list-group-item py-0 d-flex justify-content-between align-items-center">
                                                    Today Earning
                                                    <small class="fw-bolder">$578</small>
                                                </div>
                                                <div class="list-group-item py-0 d-flex justify-content-between align-items-center">
                                                    Tax
                                                    <small class="fw-bolder text-danger">- $28</small>
                                                </div>
                                                <div class="list-group-item py-0 d-flex justify-content-between align-items-center">
                                                    Total Earning
                                                    <span class="fw-bold text-primary">$6,578</span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-5">

                                            <!-- User menu link -->
                                            <div class="list-group list-group-borderless h-100 py-3">
                                                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                                    <span><i class="demo-pli-mail fs-5 me-2"></i> Messages</span>
                                                    <span class="badge bg-danger rounded-pill">14</span>
                                                </a>
                                                <a href="#" class="list-group-item list-group-item-action">
                                                    <i class="demo-pli-male fs-5 me-2"></i> Profile
                                                </a>
                                                <a href="#" class="list-group-item list-group-item-action">
                                                    <i class="demo-pli-gear fs-5 me-2"></i> Settings
                                                </a>

                                                <a href="#" class="list-group-item list-group-item-action mt-auto">
                                                    <i class="demo-pli-computer-secure fs-5 me-2"></i> Lock screen
                                                </a>
                                                <a href="javascript:void(0)" (click)="cerrarSession()"   class="list-group-item list-group-item-action">
                                                    <i class="demo-pli-unlock fs-5 me-2"></i> Cerrar Sesión
                                                </a>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- End - User dropdown -->
                            <!-- Sidebar Toggler -->
                            <i class="demo-psi-dot-vertical"></i>

                        </div>
                    </div>
                </div>
</header>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- END - HEADER -->
        <!-- MAIN NAVIGATION -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <nav id="mainnav-container" class="mainnav">
            <div class="mainnav__inner">

                <!-- Navigation menu -->
                <div class="mainnav__top-content scrollable-content pb-5">
                    <!-- Navigation Category -->
                    <div class="mainnav__categoriy py-3">
                        <h6 class="mainnav__caption mt-0 px-3 fw-bold"></h6>
                        <ul class="mainnav__menu nav flex-column">

                            <li class="nav-item">
                                <a href="javascript:void(0)" routerLink="pago" class="nav-link mininav-toggle active">
                                    <i class="demo-pli-bar-chart fs-5 me-2"></i>
                                    <span class="nav-label mininav-content ms-1">Pagos</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)"    routerLink="datosPersonales" class="nav-link mininav-toggle">
                                    <i class="demo-pli-pen-5 fs-5 me-2"></i>
                                    <span class="nav-label mininav-content ms-1">Datos Personales</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)"    routerLink="ayuda" class="nav-link mininav-toggle">
                                    <i class="demo-pli-gear fs-5 me-2"></i>
                                    <span class="nav-label mininav-content ms-1">Ayuda</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a  href="javascript:void(0)"  routerLink="soporteTecnico" class="nav-link mininav-toggle">
                                    <i class="demo-pli-repair fs-5 me-2"></i>
                                    <span class="nav-label mininav-content ms-1">Soporte Técnico</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)"  routerLink="terminoCondicion" class="nav-link mininav-toggle">
                                    <i class="demo-pli-receipt-4 fs-5 me-2"></i>
                                    <span class="nav-label mininav-content ms-1">Términos y condiciones</span>
                                </a>
                            </li>
                            <hr />
                            <li class="nav-item">
                                <a href="javascript:void(0)" (click)="cerrarSession()"   class="nav-link mininav-toggle collapsed" aria-expanded="false">
                                    <i class="demo-pli-unlock fs-5 me-2"></i>
                                    <span class="nav-label ms-1">Cerrar Sesión</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END : Navigation Category -->
                    <!-- Widget -->
                    <div class="mainnav__profile">

                        <!-- Widget buttton form small navigation -->
                        <div class="mininav-toggle text-center py-2 d-mn-min">
                            <i class="demo-pli-monitor-2"></i>
                        </div>

                        <div class="d-mn-max mt-5"></div>


                    </div>
                    <!-- End - Profile widget -->

                </div>
                

            </div>
        </nav>
       

    </div>
 
   